<!DOCTYPE html>
<html lang="en">

<head>
	<title>Agri-Tech</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Agro Harvest, Agriculture, Modern Farming, Yojnas, Market, Agri-Tech"/>

	<!-- CSS Files -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	{% block head %}{% endblock %}
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Thasadith:400,700&display=swap" rel="stylesheet">

	<!-- Google Translate Script -->
	<script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement(
				{
					pageLanguage: 'en',
					includedLanguages: 'en,hi,ta,te,kn,ml,bn,gu,mr,pa,ur,or,as',
					layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
				},
				'google_translate_element'
			);
		}
	</script>
	<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<!-- Left: Logo -->
		<a class="navbar-brand" href="{{ url_for('home') }}">
			<img src="{{ url_for('static', filename='images/Agri-Tech logo.jpg') }}" alt="Agri-Tech Logo">
		</a>

		<!-- Toggle button for mobile -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Center: Navigation Links -->
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
				<li class="nav-item "><a class="nav-link" href="{{ url_for('crop_recommend') }}">Crop</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('fertilizer_recommendation') }}">Fertilizer</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('disease_prediction') }}">Disease</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('yojnas') }}">Yojnas</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('modern_farming') }}">Modern Farming Technique</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('market_place') }}">Market Place</a></li>
			</ul>

			<!-- Right: Google Translate -->
			<div id="google_translate_element"></div>
		</div>
	</div>
	</nav>


	<!-- Page Content -->
	{% block body %} {% endblock %}

	<!-- Footer -->
	<footer class="text-center py-5">
		<div class="container">
			<h2 class="logo2 text-center">
				<a href="{{ url_for('home') }}">Agri-Tech Navigator</a>
			</h2>
			<div class="w3l-copy text-center mt-3">
				<p class="text-da">An Environmental Intelligence Startup</p>
				<p>Made by Harshad</p>
				<p>&copy; Copyright 2024 Harshad Desai</p>
			</div>
		</div>
	</footer>

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>
